<agm-map [zoom]=12 [latitude]="lat" [longitude]="lng" [fitBounds]="true">
  <agm-marker *ngFor="let place of this.placesDetails"
    [latitude]="place.lat" [longitude]="place.lng"
    [agmFitBounds]="true" (mouseOver)="onMouseOver(infoWindow, $event)"
                (mouseOut)="onMouseOut(infoWindow, $event)">
    <agm-info-window #infoWindow>
        <div>
            <b>Owner Name:</b> {{place.ownerName}} <br/>
            <b>Address:</b> {{place.address}} <br/>
            <b>Asking Price:</b> {{place.askingPrice}} <br/>
            <b>Description:</b> {{place.description}} <br/>

        </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
